<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jobs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/find_job_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".profile_configuration_activities.CompanyProfileConfigurationActivity">

        </activity>

        <activity android:name=".profile_configuration_activities.UserProfileConfigurationActivity" />


        <activity android:name=".CompanyProfileActivity"
            android:theme="@style/AppThemeCustomActionBar"/>

        <activity
            android:name=".AddVacancyActivity"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name=".MainActivity"
            android:theme="@style/AppThemeCustomActionBar"/>


        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


        <activity
            android:name=".LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>